header {
  background: rgb(20, 15, 15);
  padding: 24px;
  font-size: 24px;
  font-style: bold;
  font-variant: normal;
  font-weight:normal;
  position: fixed;
font-family: 'PT Sans',sans-serif;

}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;

  padding: 20px;
}

header a {
  text-decoration: overline;
  color: #ffffff;
  padding: 12px;
  display: block;
}

.hero {
  background:  url('images/renard.jpg') top center no-repeat;
  min-height: 200vh;
  background-size: cover;
  background-attachment: scroll;
  display:flex;
  justify-content: flex-end;
  align-items:flex-end ;
  }

section {
  min-height: 90vh;
  padding: 42px;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.content{
  flex-basis: 640px;
}
.illustration{
  flex-basis: 320px;
}

.odd {
  background:  rgb(0, 0, 0);
  font-size: 25px;
  font-family: 'Acme' sans-serif;
  }

  .even {
    background: rgb(255, 255, 255);
    font-family: 'Amaranth', sans-serif;
    font-size: 25px;

  }

  .image-block {
    max-width: 640px;
    border: 12px solid #000;
    }

    .image-block img {
      width: 100%;
      display: block;
    }

    figcaption {
      font-family: 'Amaranth', sans-serif;
      font-style: italic;
      font-size: 30px;justify-content: flex-start;
    }

  footer {


}

.hero h1 span {
  display: block;
}
#section03 {
  background:  rgb(05, 0, 0) url('images/chien.jpg') top center no-repeat;
  color: #fff;
  min-height: 110vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;}

  #section05 {
    background:  rgb(05, 0, 0) url('images/chouette.jpg') top center no-repeat;
    color: #fff;
    min-height: 110vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

#section04{
  background:  rgb(05, 0, 0) url('images/fawn.jpg') top center no-repeat;
  color: #fff;
  min-height: 110vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}
#section02{
  background:  rgb(05, 0, 0) url('images/sauterelle.jpg') top center no-repeat;

min-height: 110vh;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  justify-content: center;
  align-items: baseline;
  color: #fff;
}

#section01{
  background:  rgb(05, 0, 0) url('images/lion1.jpg') top center no-repeat;
  color: #fff;
  min-height: 110vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}
.content
.illustration{
  flex-basis: 640px;
}

.li {
  text-decoration: overline;

}
