
@import url('https://fonts.googleapis.com/css?family=Acme|Amaranth');
@import url('https://fonts.googleapis.com/css?family=Aclonica|Gravitas+One');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Asap');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Righteous');
@import url('https://fonts.googleapis.com/css?family=Courgette|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
html { font-size:  1em;
}

body {
  font-family: 'Acme' sans-serif;
  font-weight: 400;
  line-height: 1.45;
  font-size: 15pt
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  font-family: 'Amaranth' sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-size: 15px
}

h1 {
  margin-top: 0;
  font-size: 3.9998em;
  text-align: center;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}


.hero h1 {
  color: #fff;
padding: 50px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 300px;

}

.hero h1 span{
  color:  #fff;
  font-family: 'Luckiest Guy', cursive;
  display: block;
}


#section01 h1 {
  font-family: 'Acme', sans-serif;
  color: rgb(172, 121, 69);

}
#section01 p {
  font-family: 'Amaranth', sans-serif;
  font-size: 35px;
  color: rgb(172, 121, 69);

}

#section02 h2 {
  font-family: 'Gravitas One', cursive;
  color : #fff;
}

#section02 p {
  font-family: ' Aclonica', sans-serif;
  font-size: 45px;
color : #fff;
}

#section03 h1 {
  font-family: 'Abril Fatface',cursive;
  color : rgb(0, 0, 0);
}
#section03 p {
  font-family: 'Asap', sans-serif;
  font-size: 40px;
  color : rgb(0, 0, 0);

}

#section04 h1 {
  font-family: 'Righteous'cursive;
  color: #fff;
}

#section04 p {
  font-family: 'Cinzel', serif;
  font-size: 35px;
  color: #fff;
}

#section05 h1 {
  font-family: 'courgette',cursive;
    color: #fff;
}

#section05 p {
  font-family: 'Permanent Market',cursive;
  font-size: 40px;
  color: #fff;
}
 footer{
   background:rgb(0, 0, 0);
   font-family: 'Abril Fatface',cursive;
   color: #fff;
   font-size: 25px;
   padding: 70px;
   text-decoration: underline;


 }
